body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;

}

.logo-observium {
    width: 20vh;
    height: auto;
    text-decoration: none;
    float: left;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 17vh;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 90%;
    color: #3c6a93;
}

.navbar a {
    color: #3c6a93;
    text-decoration: none;
}

.nav-menu a:hover {
    background-color: rgba(185, 201, 214, 0.5);
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 8px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-right: 2.5%;
}

.nav-branding {
    font-size: 2rem;
    padding-left: 2.5%;

}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 5%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(49, 125, 201);
}

.login .banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0%;
}

.login .banner .container .box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
}

@media(max-width:912px) {

    .nav-menu {
        position: absolute;
        left: -200%;
        top: 7%;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding-left: 0%;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0%;
    }
}


/* BANNER */
.banner {
    overflow: hidden;
    height: 90vh;
    color: #FFFFFF;
    background-image: url("../assets/imgs/bgnd11.jpg");
    background-color: #3c6a93;
    background-size: cover;
}

.banner .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
}

.banner .first-text {
    font-size: 3vh;
    text-align: left;
    width: 20%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 5vh;
}

.banner .sub-text {
    padding: 3vh;
    border-radius: 3vh;
    background-color: rgba(60, 106, 147, 0.5);
    background-image: linear-gradient(315deg, rgba(44, 83, 117, 0.1) 0%, rgba(60, 106, 147, 0.1) 74%);
    width: 50%;
    font-size: 1.4rem;
    text-align: left;
    color: #FFFFFF;
}

/* SOBRE NÓS */
.sobre-nos {
    background-color: #2c5375;
    background-image: linear-gradient(315deg, #3c6a93 0%, #2c5375 74%);
    height: 90vh;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 60%;
    margin-bottom: 5%;

}

.flipper-container {
    width: 15vw;
    height: 42.5vh;
    perspective: 100vh;
}

.flipper {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flipper-container:hover .flipper {
    transform: RotateY(180deg);
}

/*1*/
.front1 {
    background-image: url("../assets/imgs/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.back1 {
    background-image: url("../assets/imgs/um.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    transform: rotateY(180deg);
    position: relative;
}

.front1,
.back1 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

/*2*/
.front2 {
    background-image: url("../assets/imgs/2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.back2 {
    background-image: url("../assets/imgs/dois.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    transform: rotateY(180deg);
    position: relative;
}

.front2,
.back2 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

/*3*/
.front3 {
    background-image: url("../assets/imgs/3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.back3 {
    background-image: url("../assets/imgs/tres.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    transform: rotateY(180deg);
    position: relative;
}

.front3,
.back3 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

/*4*/
.front4 {
    background-image: url("../assets/imgs/4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.back4 {
    background-image: url("../assets/imgs/quatro.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    transform: rotateY(180deg);
    position: relative;
}

.front4,
.back4 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

/*5*/
.front5 {
    background-image: url("../assets/imgs/5.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.back5 {
    background-image: url("../assets/imgs/cinco.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    transform: rotateY(180deg);
    position: relative;
}

.front5,
.back5 {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}


/* PRODUTO */
.produto {
    overflow: hidden;
    height: 80vh;
    color: #FFFFFF;
    background-color: #1a3044;
    background-image: url("../assets/imgs/sala_ti.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.produto .container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
    justify-content: center;
}

.produto .boxes {
    display: flex;
    width: 60%;
    margin-left: 2%;
}

.produto .box {
    overflow: hidden;
    height: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto .box h1 {
    color: #3c6a93;
    text-align: center;
    font-size: 30px;
}

.produto .box p {
    color: #2c5375;
    font-weight: 500;
}

.produto .box h3 {
    color: #3c6a93;
}

.linha1 {
    width: 100%;
    height: 60%;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.linha1 .box {
    width: 30%;
    height: 100%;
    padding: 0;
    text-align: center;
}

.linha1 .box h3,
p {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.linha1 .box img {
    height: 50%;
}

:root {
    --d: "M 0 0 h 300";
    --animation: 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite forwards;
}

svg {
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
}

/* animate the circle to follow the path described by the custom property */
svg circle {
    offset-path: path(var(--d));
    offset-distance: 0%;
    animation: var(--animation);
    animation-name: increaseOffset;
}

svg path {
    stroke-dashoffset: 1;
    stroke-dasharray: 1;
    animation: var(--animation);
    animation-name: removeOffset;
}

@keyframes increaseOffset {
    to {
        offset-distance: 100%;
    }
}

@keyframes removeOffset {
    to {
        stroke-dashoffset: 0;
    }
}

/* LOGIN */
.login .banner {
    height: 90vh;
    color: #FFFFFF;
    background-image: url("../assets/imgs/FundoObservium1.jpg");
    background-color: #3c6a93;
    background-size: cover;
}

.login .container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.login .box-login {
    height: 60vh;
    width: 40%;
    border-radius: 3vh;
    background-color: #3c6a93;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.login .box-login img {
    width: 50%;
    margin: 5%;
}

.login .box-login input {
    width: 50%;
    margin-top: 4px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
}

.login .banner button {
    width: 16vh;
    height: 4vh;
    margin-top: 2vh;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}


/* SOCIAL */
.social {
    overflow: hidden;
    background-color: #2c5375;
    background-image: linear-gradient(315deg, #3c6a93 0%, #2c5375 74%);
}

.social .container {
    display: flex;
}

.social .boxes {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social .box {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social .box img {
    margin-bottom: 15px;
    width: 50px;
}

.social .box span {
    color: white;
}

/* FOOTER */
.lower {
    overflow: hidden;
    background-color: #2c2c2c;
}

.lower .container {
    display: flex;
}

.lower .rodape {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.lower .final {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    color: white;
}

.lower .final b {
    font-size: 25px;
    margin-bottom: 25px;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}